<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="example-container" >
            <mat-form-field>
                <input matInput formControlName="Email" placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="Password" placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                    <input matInput type="password" formControlName="ConfirmPassword" placeholder="Password">
                </mat-form-field>
                <button  mat-button>Submit</button>
        </div>
    </form>