<mat-card  class="example-card">
    <mat-card-header>
        <p class="text-center">DAROVA EPTA</p>
    </mat-card-header>
    <img mat-card-image src="{{image.link}}">
    <mat-card-actions>
        <form [formGroup] = "resizeForm" (ngSubmit)="resizeImage(image.id)">
                <input type="number"  formControlName="width"  placeholder="width" matinput>
                <input type="number" formControlName="height" placeholder="heigth" matinput>
                <button mat-button type="submit">Resize this</button>
        </form>
        
        <button mat-button (click)="rotateImage(image.id)">Rotate</button>
    </mat-card-actions>
    </mat-card>